<!--format for every html started from here-->
<!doctype html>
<html lang="en-us">

  <!--Link-->
  <head>
    <title>Airbnb Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <object data="../image/airbnb-icon.svg" type="image/svg+xml" class="navbar-brand"></object>
    
      <!-- Links -->
      <ul class="navbar-nav">
        <!--Home-->
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <!--Map-->
        <li class="nav-item">
          <a class="nav-link" href="#">Map</a>
        </li>
        <!--Analytics-->
        <li class="nav-item">
          <a class="nav-link" href="#">Analytics</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            City
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">San Francisco</a>
            <a class="dropdown-item" href="#">New York</a>
            <a class="dropdown-item" href="#">Los Angeles</a>
          </div>
        </li>
        <!--About-->
        <div class="container">
          <a href="#demo" class="btn btn-primary" data-toggle="collapse">About</a>
          <div id="demo" class="collapse">
            <p style="color: white;">
              (add more!) The project is to analyze Airbnb market supply and pricing for 10 cities</p>
          </div>
        </div> 

        <!--Resources-->
        <div class="container">
          <a href="#demo" class="btn btn-primary" data-toggle="collapse">Resources</a>
          <div id="demo" class="collapse">
            <li><a href="http://insideairbnb.com/get-the-data.html" class="text-white">Inside Airbnb</a></li>
          </div>
        </div> 

      </ul>
    </nav>

<!--format for every html ended from here-->    

    <!--Jumbotron-->
    <header class="jumbotron">
    </header>

    <!--Home page thumbnail-->
    <div class="album py-5 bg-light">
        <div class="container">
        <div class="row">

            <!--Map thumbnail-->
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div id="map" class="thumbnail"></div>
                <div class="card-body">
                <p class="card-text">(edit) Map</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <!--Analytics thumbnail-->
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div id="analytics" class="thumbnail"></div>
                <div class="card-body">
                <p class="card-text">(edit) Analytics</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <!--City thumbnail-->
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div id="city" class="thumbnail"></div>
                <div class="card-body">
                <p class="card-text"> (edit) City</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                </div>
                </div>
            </div>
            </div>            
        </div>
        </div>
    </div>

<!--format for every html started from here-->
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>© Copyright Rutgers Data Science Bootcamp 2020</p>
  </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script src="../static/js/map.js"></script>
  <script src="../static/js/analytics.js"></script>
  <script src="../static/js/city.js"></script>

  </body>
</html>
<!--format for every html started from here-->